*{
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
	list-style: none; 
}

html {
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

body {
	padding-bottom: 70px;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	width: 85%;
	margin: auto;
	position: relative;
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
	padding: 10px;
	margin: 10px;
	display: block;
}

.btn.prime {
	background-color: green;
	color: #fff;
}

.btn.prime:hover {
	background-color: olive;
}

.btn.sec {
	background-color: olive;
	color: #fff;
}

.btn.sec:hover {
	background-color: green;
}


/*------------- Header -------------*/

header h1 {
	text-indent: -999999px;
	position: absolute;
}

header nav {
	width: 100%;
	position: relative;
}

header ul li {
	display: inline-block;
	width: 20%;
	background-color: green;
	text-align: center;
	float: left;
}

header ul li a {
	padding: 15px;
	color: white;
	display: block;
}

header ul li a:hover {
	background-color: olive;
}

.logo {
	width: 30%;
	padding: 20px;
	display: inline-block;
}

.logo img {
	width: 100%;
}

.cart-user {
	width: 60%;
	text-align: right;
	display: inline-block;
	float: right;
	padding: 40px 20px 0;
}

.cart-user .user {
	margin-right: 30px;
}

.cart-user>a {
	color: #000;
}

.cart-user>a:hover {
	color: green;
}

.fas {
	margin-right: 10px;
}


/*------------- Hero -------------*/

#heroSection {
	width: 100%;
	position: relative;
}

#heroDiv {
	overflow: hidden;
	height: 500px;
	margin-top: 15px;
}

#heroDiv img {
	width: 100%;
}


/*------------- Product Grid -------------*/

.product {
	padding: 15px;
	text-align: center;
	border: 1px solid #aaa;
}

.product.col-3 {
	width: 31.33%;
	display: inline-block;
	float: left;
	margin: 1%;
}

.product img {
	width: 100%;
}


/*------------- Home -------------*/

#featureProd h2 {
	text-align: center;
	margin: 35px;
}


/*------------- About -------------*/

#about, #shop, #testimonial, #contact, #product {
	margin-top: 35px;
	position: relative;
}

.imgText {
	width: 50%;
	display: inline-block;
	float: left;
	height: 500px;
}

.imgText h2 {
	margin-bottom: 5px 0;
}

.imgText p {
	margin: 10px 0;
}

.col-img {
	overflow: hidden;
}

.col-img img {
	height: 100%;
}

.col-text {
	padding-left: 35px;
}


/*------------- Shop -------------*/

#product #heroDiv {
	height: 250px;
	position: relative;
}

#product #heroDiv:before {
	content: "";
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#breadCrumb {
	position: relative;
	margin-top: 25px;
	width: 100%;
}

.heroText {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
}

.heroText h2 {
	margin-bottom: 20px;
}


/*------------- Product Detail -------------*/

#prodDetails .imgText.col-img {
	width: 55%;
	height: auto;
}

#prodDetails .imgText.col-text {
	width: 45%;
	padding: 25px 0 25px 55px;
}

#prodDetails .imgText .moreInfo {
	margin: 10px 0;
}

#prodDetails .imgText .btn {
	margin: 20px 0;
	display: inline-block;
}

.bigImg {
	width: 100%;
	display: block;
	padding: 25px;
}

.smallImg {
	width: 25%;
	display: inline-block;
	float: left;
	padding: 15px;
}

/*------------- Footer -------------*/

footer {
	background-color: #f5f5f5;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}

/*------------- Testimonial ---------*/

#testimonial h1{
	text-align:center;
	font-family: 'Zilla Slab', serif;
	font-size:30px;
	text-transform: uppercase;
	margin-top:50px;
}
.video{
	grid-template-columns: 1fr 1fr;
	display:grid;
	grid-gap:40px
}
.video img{
	width:575px;
	margin-top:50px;
}
.reviews{
	background-color: #D3D3D3;/*lightgrey*/
	margin-top:50px;
	padding:30px 60px;
}

q{
	font-family: 'Muli', sans-serif;
	font-size:20px;
}
.reviews p{
	font-family: 'Muli', sans-serif;
	font-weight:bold;
	margin-top:10px;
}

/*----------- Contact -------------*/
#contact{
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin-top:80px;
	width:900px;
	grid-gap:100px;
}
.contactText h2{
	font-family: 'Zilla Slab', serif;  
	font-size:30pt;
}
.contactText p{
	font-family: 'Muli', sans-serif;
	width:300px;
	font-size:15pt;
	margin-top:20px;
}

form{
	background-color: #D3D3D3;/*lightgrey*/
	padding:15px 30px;
	width:500px;
}
input[type=text], textarea{
	width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
textarea{
	height:100px;
}
form .btn{
	display:inline-block;
	padding:18px 30px;
	margin-left:0;
	border-radius: 4px;
}
/*----------- Login ----------------*/

#login form{
	display:grid;
	grid-template-columns: 1fr 1fr;
	width:800px;
	background:white;
	margin:0 auto;
	margin-top:100px;
	grid-column-gap: 100px;

}
.loginForm, .signUpForm{
	border:1px solid black;
	padding:20px 40px;

}

.loginForm h2, .signUpForm h2{
	font-family: 'Zilla Slab', serif;
	font-size:25pt;
	margin-bottom:30px;
}

/*------------ Thank You -------------*/
#thankyou{
	margin-top:50px;
	position:relative;
}

#thankyou img{
	width:1200px;
	margin-bottom:50px;
}

#thankyou h1{
	position:absolute;
	top:170px;
	left:460px;
	font-size:40pt;
	color:white;
}

#thankyou p{
	text-align:center;
	font-size:18pt;
	line-height:30pt;

}

#thankyou span{
	font-weight:bold;
}









