* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Nunito', sans-serif;
	font-size: 14pt;
	font-weight: 400;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
#container {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}
.loginError {
	position: absolute;
	top: 130px;
	padding: 10px;
	background-color: #ff8080; /* salmon */
	border: 2px solid tomato;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-weight: 500;
	font-size: 12pt;
}
#loginForm {
	align-self: center;
	background: #fff;
	padding-top: 40px;
	height: 450px;
	border: 1px solid #eee;
	-webkit-box-shadow: 0px 0px 43px -9px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 43px -9px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 43px -9px rgba(0,0,0,0.56);
}
#loginForm img {
	width: 80px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#loginForm form {
	width: 300px;
	margin-top: 60px;
}
#loginForm form input {
	height: 50px;
}
#loginForm h1 {
	font-size: 20pt;
	margin-bottom: -30px;
	text-align: center;
}
#loginForm input {
	margin-bottom: 15px;
	height: 30px;
	width: 80%;
	padding: 5px;
}
.deleteBtn {
	font-size: 10pt;
	color: red;
}
.deleteBtn:hover {
	color: #000;
}
.editBtn {
	font-size: 10pt;
	margin-right: 10px;
	color: #669900; /* yellow green */
}
.editBtn:hover {
	color: #223300; /* green */
}
input[type="submit"], #editUser a {
	background: #5bbaae; /* teal */
	padding: 13px 30px 25px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 600;
	border: 0;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: #457786; /*dark blue*/
	transition: all 0.3s ease;
}
#welcome {
	margin-left: 150px;
}
#welcome h1 {
	font-size: 40pt;
	font-style: italic;
	text-align: center;
	margin-top: 120px;
	color: #223300; /* green */
}
#welcome a {
	color: #000;
	font-size: 16pt;
	letter-spacing: 1px;
}
#manage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	width: 560px;
	margin: 0 auto;
	margin-top: 80px;
}
#manage img {
	width: 80px;
	margin-bottom: 20px;
}
#manage > div {
	padding: 40px 20px;
	border: 3px solid #000;
}
#manage > div:hover {
	border: 3px solid #669900; /* yellow green */
	background-color: #669900; /* yellow green */
}
#nav {
	position: fixed;
	left: 0;
	top:0;
	height: 100%;
	width: 230px;
	padding: 30px;
	background-color: #223300; /* green */
}
#nav img {
	width: 160px;
	margin-top: 20px;
	margin-bottom: 50px;
}
nav li, a {
	font-size: 14pt;
	font-weight: 600;
	text-transform: uppercase;
	font-weight: 500;
	color: #e6e600; /* neon green */
	margin-bottom: 40px;
	width: 100%;
}
nav a:hover {
	border-bottom: 5px solid #669900; /* yellow green */
}
#users form {
	padding: 40px 40px 40px 0px;
	background: #fff;
	width: 300px;
}
#users, #content-list {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
}
#users h1, #services h1 {
	font-size: 40pt;
	font-style: italic;
	margin-bottom: 20px;
}
#users input, #services input, #editUser input, #addForm input {
	height: 40px;
	margin-right: 10px;
	margin-bottom: 25px;
	margin-top: 5px;
	display: block;
	width: 350px;
	padding: 5px;
}
#users label {
	display: inline-block;
}
#users form a, #addForm a {
	background: #5bbaae; /* teal */
	padding: 10px 30px 10px 30px;
	color: #000;
	text-transform: uppercase;
	font-size: 13pt;
	border: 0;
	cursor: pointer;
	width: 170px;
}
#users form a:hover, #services form a:hover, #addForm a:hover {
	background: #000; 
	color: #fff;
}
#contactBox {
	width: 500px;
	margin: 0 auto;
}
#contactBox img {
	width: 40px;
	text-align: center;
}
.contactList, .contentList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 60px;
	margin-top: 40px;
	padding-bottom: 50px;
}
.contactList div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 240px;
}
.contactList h3 {
	margin-bottom: 10px;
}
#users {
	height: 700px;
}
#editUser, #editService {
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
	width: 300px;
}
#editUser input[type="submit"], #editService input[type="submit"], #addForm input[type="submit"] {
	padding: 10px 30px; 
	width: 200px;
	height: 50px;
	margin-top: 30px;
	font-size: 13pt;
	display: inline-block;
}
#editUser a, #editService a {
	background: #000;
	color: #fff;
	width: 170px;
	height: 50px;
	margin-top: 30px;
	padding: 13px 30px; 
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13pt;
}
#editUser a:hover, #editService a:hover{
	background-color: #5bbaae; /* teal */
	color: #000;
}
#editUser form, #editService form {
	margin-top: 30px;
}
.contentList {
	margin-bottom: 100px;
}
.contentList div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	font-size: 12pt;
}
#content h1 {
	font-size: 40pt;
	display: inline-block;
}
#serviceBox img {
	width: 100px;
}
.contentList h3, .galleryList h3 {
	margin-bottom: 30px;
	font-size: 22pt;
	color: #669900; /* yellow green */
	font-weight: bold;
}
.contentList p {
	margin-bottom: 10px;
	font-size: 12pt;
}
#content form {
	padding-bottom: 100px;
}
.addBtn {
	position: absolute;
	float: right;
	margin-left: 40px;
	margin-top: 15px;
	padding: 10px 15px;
	border: 2px solid #669900; /* yellow green */
	width: 200px;
	font-size: 12pt;
	text-align: center;
	color: #669900; /* yellow green */
	border-radius: 50px;
}
.addBtn:hover {
	background-color: #669900; /* yellow green */
	color: #fff;
}
.addBtn p {
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
}
#addForm {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
	position: relative;
}
#addForm input[name="nPrice"], #addForm input[name="nQuantity"] {
	width: 80px;
	height: 30px;
}
#addForm span {
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.formQuantity {
	position: absolute;
	margin-top: -86px;
	margin-left: 140px;
}
#addForm label, #editService label, #editService input {
	display: block;
}
#addForm h1, #editService h1 {
	margin-bottom: 30px;
	font-size: 40pt;
}
#addForm textarea, #editService textarea {
	width: 350px;
	height: 150px;
	margin-bottom: 15px;
	padding: 10px;
}
#editService a.removeBtn {
	font-size: 8pt;
	padding: 5px 10px;
	letter-spacing: 1px;
	font-weight: 400;
}
#editService input {
	height: 40px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	display: block;
	width: 300px;
}
#addForm select, #editService select{
	margin-bottom: 20px;
	width: 350px;
}

