* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Nunito', sans-serif;
	font-size: 14pt;
	font-weight: 400;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
#container {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}
.loginError {
	position: absolute;
	top: 130px;
	padding: 10px;
	background-color: #ff8080; /* salmon */
	border: 2px solid tomato;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-weight: bold;
	font-size: 12pt;
	width: 550px;
}
#loginForm {
	width: 550px;
	align-self: center;
	background: #e5e5cc; /*light green*/
	padding-top: 60px;
	height: 500px;
}
#loginForm img {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
}
#loginForm form {
	margin: 0 auto;
	width: 300px;
	margin-top: 50px;
}
#loginForm form input {
	height: 50px;
}
#loginForm h1 {
	font-size: 20pt;
	margin-bottom: -30px;
	text-align: center;
	font-weight: bold;
	color: #223300; /* green */
}
#loginForm input {
	margin-bottom: 15px;
	height: 30px;
	width: 80%;
	padding: 5px;
}
.deleteBtn {
	font-size: 10pt;
	color: red;
}
.deleteBtn:hover {
	color: #000;
}
.editBtn {
	font-size: 10pt;
	margin-right: 10px;
	color: #669900; /* yellow green */
}
.editBtn:hover {
	color: #223300; /* green */
}
.viewBtn {
	font-size: 10pt;
	margin-right: 10px;
	color: #669900; /* yellow green */
}
.viewBtn:hover {
	color: #223300; /* green */
}
input[type="submit"], #editUser a {
	background: #669900; /* yellow green */
	padding: 13px 30px 25px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 600;
	border: 0;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: #223300; /* green */
	transition: all 0.3s ease;
}
#welcome {
	margin-left: 150px;
}
#welcome h1 {
	font-size: 40pt;
	font-style: italic;
	text-align: center;
	margin-top: 120px;
	color: #223300; /* green */
}
#welcome a {
	color: #000;
	font-size: 16pt;
	letter-spacing: 1px;
}
#manage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	width: 560px;
	margin: 0 auto;
	margin-top: 80px;
}
#manage img {
	width: 80px;
	margin-bottom: 20px;
}
#manage > div {
	padding: 40px 20px;
	border: 3px solid #000;
}
#manage > div:hover {
	border: 3px solid #669900; /* yellow green */
	background-color: #669900; /* yellow green */
}
#nav {
	position: fixed;
	left: 0;
	top:0;
	height: 100%;
	width: 230px;
	padding: 30px;
	background-color: #223300; /* green */
}
#nav img {
	width: 160px;
	margin-top: 20px;
	margin-bottom: 50px;
}
nav li, a {
	font-size: 14pt;
	font-weight: 600;
	text-transform: uppercase;
	font-weight: 500;
	color: #e6e600; /* neon green */
	margin-bottom: 40px;
	width: 100%;
}
nav a:hover {
	border-bottom: 5px solid #669900; /* yellow green */
}
#users form {
	padding: 40px 40px 40px 0px;
	background: #fff;
	width: 300px;
}
#users, #content-list {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
}
#users h1, #services h1 {
	font-size: 40pt;
	font-style: italic;
	margin-bottom: 20px;
}
#users input, #services input, #editUser input, #addForm input {
	height: 40px;
	margin-right: 10px;
	margin-bottom: 25px;
	margin-top: 5px;
	display: block;
	width: 350px;
	padding: 5px;
}
#users label {
	display: inline-block;
}
#users form a, #addForm a {
	background: #5bbaae; /* teal */
	padding: 10px 30px 10px 30px;
	color: #000;
	text-transform: uppercase;
	font-size: 13pt;
	border: 0;
	cursor: pointer;
	width: 170px;
}
#users form a:hover, #services form a:hover, #addForm a:hover {
	background: #000; 
	color: #fff;
}
#contactBox {
	width: 500px;
	margin: 0 auto;
}
#contactBox img {
	width: 40px;
	text-align: center;
}
.contactList, .contentList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 60px;
	margin-top: 40px;
	padding-bottom: 50px;
}
.contactList div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 240px;
}
.contactList h3 {
	margin-bottom: 10px;
}
#users {
	height: 700px;
}
#editUser, #editForm {
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
	width: 500px;
	position: relative;
}
#editUser input[type="submit"], #editForm input[type="submit"], #addForm input[type="submit"] {
	padding: 10px 30px; 
	width: 200px;
	height: 50px;
	margin-top: 30px;
	font-size: 13pt;
	display: inline-block;
}
#editUser a, .cancelBtn {
	background: #000;
	color: #fff;
	width: 170px;
	height: 50px;
	margin-top: 30px;
	padding: 13px 30px; 
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13pt;
}
#editUser a:hover, .cancelBtn:hover{
	background-color: #5bbaae; /* teal */
	color: #000;
}
#editUser form, #editForm form {
	margin-top: 30px;
}
#editForm form p {
	line-height: 25px;
}
.contentList {
	margin-bottom: 100px;
}
.contentList div {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	font-size: 12pt;
}
#content h1 {
	font-size: 40pt;
	display: inline-block;
}
.contentBox img {
	width: 100px;
}
.contentList h3, .galleryList h3 {
	margin-bottom: 30px;
	font-size: 22pt;
	color: #669900; /* yellow green */
	font-weight: bold;
}
.contentList p {
	margin-bottom: 10px;
	font-size: 12pt;
}
#content form {
	padding-bottom: 100px;
}
.addBtn {
	position: absolute;
	float: right;
	margin-left: 40px;
	margin-top: 15px;
	padding: 10px 15px;
	border: 2px solid #669900; /* yellow green */
	width: 200px;
	font-size: 12pt;
	text-align: center;
	color: #669900; /* yellow green */
	border-radius: 50px;
}
.addBtn:hover {
	background-color: #669900; /* yellow green */
	color: #fff;
}
.addBtn p {
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
}
#addForm {
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
	position: relative;
}
#addForm input[name="nPrice"], #addForm input[name="nQuantity"], #editForm input[name="nPrice"], #editForm input[name="nQuantity"] {
	width: 80px;
	height: 30px;
}
#addForm input[type="checkbox"], #editForm input[type="checkbox"] {
	height: 30px;
	display: inline-block;
	width: 20px;
	margin-bottom: 5px;
}
#addForm span, #editForm span {
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.cbOptions > div {
	display: inline-block;
	margin-bottom: 15px;
}
.formQuantity {
	position: absolute;
	margin-top: -86px;
	margin-left: 140px;
}
#editForm .formQuantity {
	position: absolute;
	margin-top: -81px;
	margin-left: 140px;
}
#addForm label, #editForm label, #editForm input {
	display: block;
}
#addForm h1, #editForm h1 {
	margin-bottom: 30px;
	font-size: 40pt;
}
#addForm textarea, #editForm textarea {
	width: 350px;
	height: 150px;
	margin-bottom: 15px;
	padding: 10px;
}
#editForm input {
	height: 40px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	display: block;
	width: 350px;
}
#editForm .deleteBtn span {
	font-size: 18pt;
	position: absolute;
	display: inline;
	float: none;
	margin-left: 5px;
	margin-top: 125px;
}
#addForm select, #editForm select {
	margin-bottom: 20px;
	width: 350px;
}

/*---------------------Orders------------------*/

#orderList {
	width: 1200px;
	height: auto;
}
#orderList form, .searchField {
	position: relative; 
	display: inline-block;
	margin-top: 20px;
}
#orderList table {
	width: 100%;
	margin-top: -60px;
}
#orderList table thead td { 
	padding: 10px;
	background: #669900; /* yellow green */
	color: #fff;
}
#orderList table thead td a {
	color: #fff;  
	font-weight: bold;
	text-decoration: none;
}
#orderList table td {
	margin: 0px;
}
#orderList table td {
	text-align: center;
}
#orderList table td:first-child {
	text-align: center;
	width: 130px;
}
#orderList table td:nth-child(2) {
	width: 160px;
}
#orderList table tbody tr td {
	background: #eee; 
	margin-top: 4px; 
	border-bottom: 4px solid #fff; 
	border-top: 4px solid #fff; 
	padding: 10px;
}
#orderList .viewBtn {
	font-weight: bold;
	border: 2px solid #669900; /* yellow green */
	border-radius: 5px;
	padding: 5px 10px;
	padding-top: 7px;
}
#orderList .viewBtn:hover {
	color: #fff;
	background: #669900; /* yellow green */
}
#editForm .user-info span, #editForm .order-info span {
	font-weight: bold;
	float: none;
	margin-right: 0px;
	margin-top: 0px;
}
#editForm .status {
	margin-top: -15px;
}
#editForm .status input[type="submit"] {
	font-size: 10pt;
	padding: 8px 8px;
	height: 35px;
	width: 80px;
	position: absolute;
	margin-top: -52px;
	margin-left: 170px;
	border-radius: 20px;
	background: #fff;
	border: 2px solid #669900; /* yellow green */
	color: #669900; /* yellow green */
}
#editForm .status input[type="submit"]:hover {
	color: #fff;
	background: #669900; /* yellow green */
}
#editForm .status select {
	width: 150px;
	height: 30px;
}
#editForm .status label {
	font-weight: bold;
}
#editForm .user-info {
	position: absolute;
	top: 105px;
	left: 450px;
	width: 600px;
}
#editForm .order-items {
	margin-top: 20px;
	width: 1000px;
}
#editForm .order-items h2 {
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 20px;
}
.items {
	width: 800px;
	text-align: left;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.items img {  
	width: 100px;
	border: 1px solid #000;
	display: inline-block;
}
.item-info {
	display: inline-block;
	position: absolute;
	margin-left: 20px;
}
p.cart-label {
	font-weight: bold;
	float: left;
	font-size: 12pt;
}
.order-invoice {
	margin-right: -300px;
	float: right;
	text-align: right;
	height: 350px;
}
.order-invoice:nth-child(2) p {
	text-align: right;
	line-height: 25px;
	background: red;
	display: inline-block;
	float: left;
}
.cart-total {
	margin-top: 20px;
}
.cart-total p {
	float: left;
	font-weight: bold;
	font-size: 18pt;
	display: inline-block;
}
.cart-total p:nth-child(2) {
	margin-left: 90px;
}
